<div class="user-profile align">
    <h3 class="user-profile-heading">Profile</h3>
    <%= image_tag @user.avatar.url, :class => "user-profile-image" %>
  <div class="user-profile-label">
  <h5>Name: <%= @user.name %></h5>
  <h5>Email: <%= @user.email %></h5>
  <h5>Joined On: <%= @user.created_at.strftime("%B %d, %Y") %></h5>
  </div>
</div>
<hr/>

<h3 class="align">Reservations</h3>

<% @user.reservations.each do |reservation| %>
  <div class="user-reservation">
    <p>Restaurant: <%= reservation.restaurant.name %></p>
    <p>Reserved Time: <%= new_time(reservation.time) %></p>
    <p>Party Size: <%= reservation.party_size %></p>
  </div>
<% end %>
