<h1>SeatYourself</h1>

<ul>
<% @restaurants.each do |restaurant| %>
  <p>
  <%= link_to restaurant_path(restaurant) do %>
   Restaurant Name: <%= restaurant.name %>,
   Address: <%= restaurant.address %>,
   Website: <%= restaurant.website_url %>
   <% end %>
  </p>
<% end %>
</ul>

</div>
<%= link_to "Add a Restaurant", new_restaurant_path %>
</div>