<% if current_user %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="restaurant-main">
  <%= image_tag @restaurant.image.url(:medium),:class => 'restaurant-image' %>
  <div class="restaurant-labels">
  <h1><%= @restaurant.name %></h1>
  <p class="restaurant-tag"><%= @restaurant.tag %></p>
  <div><%= @restaurant.address %></div>
  <div class="restaurant-description"><%= @restaurant.description %></div>
  <%= link_to "Website", @restaurant.website_url %>
  </div>
</div>
  <% if !current_user %>
    <h3 class="align reserve-heading">
      <%= link_to "Login to reserve", new_session_path %>
    </h3>
  <% end %>
<% if current_user %>
  <h3 class="align reserve-heading">Reservation Times</h3>
  <%= form_for([@restaurant, @reservation], :html => {:class => 'reserve-form'}) do |f| %>
      <div class="times reserve-times">
        <% @restaurant.hours_open.each do |h| %>
          <%= f.radio_button :time, h %>
          <%= f.label "time_#{h}", new_time(h), class: "reserve" %>
        <% end %>
      </div>
      <div class="reserve-party align">
      <%= f.label :party_size,'Please enter party size' %>
      <%= f.text_field :party_size %>
      </div>
      <div class="reserve-party align">
      <%= f.submit %>
      </div>
  <% end %>
<% end %>

<% @restaurant.reservations.each do |reservation| %>
  <p>
    <% if reservation.id != nil %>
      Reservation Time: <%= new_time(reservation.time) %>,
      No of People: <%= reservation.party_size %> people
      <br>
      <% if reservation.user != nil %>
        <em> by <%= reservation.user.email %></em>
        Added on: <%= reservation.created_at %>
      <% end %>
      <br>
      <%= link_to "Delete", restaurant_reservation_path(@restaurant, reservation), method: :delete %>
    <% end %>
  </p>
<% end %>

<div class="align restaurant-back">
<%= link_to "Back to Main Page", restaurants_path %>
</div>

