<h1><%= @restaurant.name %></h1>
<%= image_tag @restaurant.image.url(:medium) %>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.website_url %></p>

<% if current_user %>
  <%= form_for([@restaurant, @reservation]) do |f| %>
    <div class="field">
      <%= f.label :time %>
      <%= f.select :time, @hours_open %>
    </div>
    <div class="field">
      <%= f.label :party_size %>
      <%= f.text_field :party_size %>
    </div>
    <div class="field">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<% @restaurant.reservations.each do |reservation| %>
  <p>
    Reservation Time: <%= reservation.time %>,
    No of People: <%= reservation.party_size %> people
    <br>
    <% if reservation.user != nil %>
      <em> by <%= reservation.user.email %></em>
      Added on: <%= reservation.created_at %>
    <% end %>
    <br>
    <%= link_to "Delete", restaurant_reservation_path(@restaurant, reservation), method: :delete %>
  </p>
<% end %>

<div>
<%= link_to "Back to all restaurants", restaurants_path %>
</div>

